@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
--font: 'Montserrat', sans-serif;
--main-color: #1d75de;
--hover-color: #1ed760;
--social-media-circle-color: #222121;
--footer-color: #8a8a8a;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: var(--font);
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#spotify-logo {
    height: 42px;
    padding-left: 94px;
    filter: invert(1);
}

nav {
    font-weight: 700;
    font-size: 10.5pt;
    display: flex;
    flex-direction: row;
    gap: 34px;
    padding-right: 94px;
}

nav > a {
    color: white;
}

nav > a:hover {
    color: var(--hover-color);
}

.container {
    overflow: hidden;
}

a {
    display: flex;
    align-items: center;
}

a:visited {
    color: white;
}

#main-section {
    color: white;
    background-color: var(--main-color);
    height: 222px;
    padding: 100px;
    padding-top: 74px;
}

#why-premium {
    height: 550px;
    text-align: center;
}

#why-premium > h2 {
    font-weight: 800;
    padding: 60px;
}

.why-premium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 40px;
}

#why-premium-1, #why-premium-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.why-premium-circle {
    flex-direction: column;
    padding: 15px;
}

.why-premium-description > h4 {
    font-size: 14pt;
    font-weight: 700;
    padding-top: 40px;
}

.why-premium-description > p {
    font-size: 11pt;
    padding-top: 15px;
    color: black;
}

.why-premium-circle > img {
    height: 142px;
}

.why-premium-circle > p {
    color: black;
}

#cards {
    display: flex;
    flex-direction: row;
    width: 300px;
}

#cards > img {
    height: 20px;
    padding: 5px;
    padding-top: 20px;
}

#cards > p {
    color: black;
    font-size: 10pt;
    text-decoration: underline;
    padding-top: 20px;
}

#others-cards {
    display: none;
    z-index: 1;
    margin-top: 45px;
    margin-left: -104px;
    width: 141px;
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 4px;
    background-color: white;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.others-cards-rows {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
}

#others-cards > div > li > img {
    height: 20px;
    width: 29px;
    border-radius: 5px;
    padding-right: 5px;
}

#premium {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100%;
    padding-bottom: 110px;
}

#premium-description {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    align-items: center;
    height: 150px;
}

#premium-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.premium-cards {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 770px;
    width: 270px;
}

.premium-cards-header-blue {
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    border-radius: 4px;
    margin: 15px;
    padding: 5px;
    font-size: 10pt;
    max-width: fit-content;
}

.premium-cards-payment {
    color: var(--main-color);
    font-weight: 710;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    margin: 15px;
    margin-top: -4px;
    padding: 5px;
    font-size: 10pt;
    max-width: fit-content;
}

.premium-cards-type {
    color: black;
    font-size: 17pt;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 15px;
}

.premium-cards-price {
    color: black;
    font-size: 11pt;
    margin: 15px;
    margin-top: -35px;
}

.premium-cards-accounts {
    color: black;
    font-size: 11pt;
    font-weight: 500;
    margin-top: -8px;
    margin-left: 15px;
}

.premium-details {
    list-style-type: none;
    color: black;
    font-size: 11pt;
    font-weight: 500;
    padding: 10px;
    padding-bottom: 0px;
}

hr {
    margin: 15px;
    margin-top: 20px;
}   

h1 {
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    padding-top: 40px;
}

h5 {
    font-size: 11pt;
    font-weight: 500;
    margin-top: -10px;
}

button {
    margin-top: 36px;
    font-weight: 700;
    border-radius: 500px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#start-1 {
    color: white;
    background-color: #191414;
    border: none;
    height: 52px;
    width: 140.64px;
    margin-left: 5px;
}

#start-1:hover {
    background-color: #0B0909;
}

.start-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    margin-bottom: 0px;
}

#start-button-1 {
    margin-top: 110px;
}

#start-button-2 {
    margin-top: 150px;
}

#start-button-3 {
    margin-top: 2px;
}

#start-button-4 {
    margin-top: 94px;
}

.start-2 {
    color: white;
    background-color: #191414;
    align-items: center;
    border: #191414;
    height: 48px;
    width: 235px;
}

.start-2:hover {
    background-color: #0B0909;
}

#plans {
    color: white;
    background-color: var(--main-color);
    height: 52px;
    width: 154.89px;
    border: 2px solid white;
    margin-left: 5px;
}

#plans:hover {
    background-color: #0b68da;
}

p {
    color: white;
    font-size: 11px;
    font-weight: 500;
    padding-top: 40px;
}

#terms {
    color: white;
    text-decoration: underline;
    display: inline;
}

.terms-2 {
    display: inline;
    padding: 12px;
    margin-top: -30px;
}

.terms-underline {
    color: rgb(61, 61, 61);
    text-decoration: underline;
    display: inline;
}

#terms-2-1 {
    color: rgb(61, 61, 61);
}

#terms-2-2 {
    color: rgb(61, 61, 61);
}

#terms-2-3 {
    color: rgb(61, 61, 61);
}

#terms-2-4 {
    color: rgb(61, 61, 61);
}

.bottom {
    display: flex;
    background-color: black;
    height: 280px;
    padding: 40px;
    padding-top: 70px;
    padding-left: 0px;
    gap: 10px;
}

#spotify-logo-bottom {
    width: 135px;
    min-width: 135px;
    filter: invert(1);
    margin-left: 8%;
}

.links-bottom {
    display: flex;
    list-style: none;
    width: 660px;
    min-width: 650px;
}

.links-bottom > li {
    padding: 15px;
    padding-left: 30px;
    width: 300px;
}

.links-bottom > li > span {
    font-size: 10pt;
    font-weight: bolder;
    color: var(--footer-color);
}

.links-bottom > li > a {
    font-size: 11pt;
    font-weight: 500;
    color: white;
    width: 170px;
    padding-top: 28px;
}

.links-bottom > li > a:hover {
    color: var(--hover-color);
}

.social-media {
    display: flex;
    align-items: baseline;
    width: fit-content;
    padding-top: 20px;
    margin-left: 6.5%;
}

.social-media-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--social-media-circle-color);
    padding: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 15px;
}

.social-media-circle > img {
    list-style: none;
    filter: invert(1);
    height: 70%;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 9pt;
    background-color: black;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 540px;
    gap: 20px;
    margin-left: 90px;
    padding: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.links > a {
    color: var(--footer-color);
}

.links > a:hover {
    color: var(--hover-color);
}

.links-2 {
    min-width: fit-content;
    margin-top: 6px;
    margin-right: 130px;
    padding-left: 20px;
}

.links-2 > a {
    justify-content: flex-end;
    color: var(--footer-color);
}

.links-2 > p {
    color: var(--footer-color);
    padding-top: 10px;
}

.links-2 > a:hover {
    color: var(--hover-color);
}

#footer-first-row {
    padding-top: 30px;
}

@media screen and (max-width: 1200px) {
    #why-premium {
        height: fit-content;
    }
    
    .why-premium {
        flex-direction: column;
        padding-left: 0px;
        padding-bottom: 120px;
    }

    #why-premium-1 {
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 40px;
    }

    #why-premium-2 {
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        padding-right: 12px;
    }
    
    .why-premium-circle {
        display: flex;
        flex-direction: row;
    }

    .why-premium-circle > img {
        height: 110px;
    }

    .why-premium-description {
        padding-left: 20px;
        text-align: left;
    }

    .why-premium-circle > h4 {
        padding-left: 10px;
        display: inline;
    }

    #premium-description > h2 {
        font-size: 21pt;
    }

    #premium-description > h5 {
        font-size: 10pt;
    }

    #premium-cards {
        flex-direction: column;
    }

    .premium-cards {
        height: 100%;
        width: 440px;
    }

    .start-2 {
        width: 400px;        
        margin-top: 26px;
        margin-left: 170px;
    }

    .bottom {
        flex-wrap: wrap;
    }

    #spotify-logo-bottom {
        margin-left: 20px;
    }
    
    .social-media {
        margin-left: 0px;
        padding-right: 10px;
    }

    footer {
        padding-top: 40px;
    }

    .links-2 {
        margin: 0px;
        padding-right: 15px;
    }

    nav {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    #spotify-logo {
        padding-left: 70px;
        height: 28px;
    }
     
    #why-premium > h2 {
        font-size: 20pt;
    }

    .why-premium {
        padding-bottom: 60px;
    }
    
    #why-premium-1, #why-premium-2 {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .why-premium-circle > img {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 900px) {
    header {
        height: 34px;
    }

    #main-section {
        padding-top: 20px;
        padding-left: 80px;
    }

    .bottom {
        flex-direction: column;
        height: fit-content;
    }

    #spotify-logo-bottom {
        margin-left: 25px;
        padding-bottom: 40px;
    }

    #main-section {
        height: 270px;
    }

    #main-section > h1 {
        font-size: 24pt;
    }

    .links-bottom {
        flex-direction: column;
        margin-left: 0px;
    }

    .links-bottom > li {
        padding-bottom: 60px;
    }

    .social-media {
        margin-left: 10px;
    }

    footer {
        font-size: 8pt;
        padding-top: 0px;
    }

    .links {
        flex-wrap: wrap;
        margin-left: 25px;
    }

    .links-2 {
        margin-right: 25px;
    }
}

@media screen and (max-width: 770px) {
    #spotify-logo {
        padding-left: 8px;
    }    

    #main-section {
        padding-left: 16px;
        height: 100%;
    }

    #main-section > h1 {
        font-size: 20pt;
    }

    #main-section > h3 {
        font-size: 12pt;
    }

    .start-button {
        width: 100%;
    }

    .start-2 {
        margin-left: 0px;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
        padding-top: 40px;
        margin-left: -10px;
        width: 115%;
    }
    
    #start-1, #plans {
        width: 100%;
        margin-bottom: 0px;
        padding-left: 0px;
    }

    #buttons > button {
        margin: 6px;
    }
}

@media screen and (max-width: 680px) {
    #main-section {
        height: 100%;
    }

    #buttons {
        width: 118%;
    }

    #premium-description {
        padding-top: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .premium-cards {
        width: fit-content;
        margin-left: 15px;
        margin-right: 15px;
    }

    .start-2 {
        width: 310px;
    }
}

@media screen and (max-width: 400px) {
    #premium-description {
        padding-bottom: 30px;
    }
}